.wrapper {
    display: flex;
    justify-content: center;
    height: var(--height-global);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}

.content {
    height: 100%;
    width: var(--width-global);
    padding: 0 var(--spacer-global);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {

}


.action {
    display: flex;
    align-items: center;
    gap: 4px;
}

.more-btn {
    font-size: 2rem;
    background-color: transparent;
    margin-left: 4px;
    padding: 10px;
    cursor: pointer;
}
.current-user {
    display: flex;
    align-items: center;
    
}

.action-btn {
    display: flex;
    position: relative;
    font-size: 2.2rem;
    background-color: transparent;
    color: #161823;
    padding: 4px 6px;
    cursor: pointer;
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: contain;
}

.badge {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 1.2rem;
    padding: 2px 6px;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 600;
    border-radius: 20px;
}