.search,.search-result {
    width: 371px;
}
.search {
    display: flex;
    align-items: center;
    height: 46px;
    
    background-color: rgba(22, 24, 35, 0.06);
    padding: 12px 0 12px 16px;
    border-radius: 30px;
    border: 1.4px solid transparent;
    position: relative;
    overflow: hidden;

    &:focus-within {
        border: 1.4px solid #96969c;
    }

    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 10px 10px 10px 0;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        .search-icon {
            color: rgba(22, 24, 35, 0.75);
        }
    }
}
.search-title {
    height: 30px;
    padding: 5px 16px;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.clear,.loading {
    position: absolute;
    right: 68px;
    cursor: pointer;
}
.loading {
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform:  rotate(0);
    }
    to {
        transform:  rotate(360deg);
    }
}
.search-btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    position: relative;
    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 32px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #d8d8da;
    }
    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
    .search-icon {
        font-size: 2.4rem;
        color: #96969c;    
    }
}